/* div{border: 1px solid black;} */
body {
    background-color: whitesmoke;
    /* border: 1px solid black; */
    width: 70%;
    margin: auto;
}

.indice {
    display: grid;
    grid-template-columns: 15% 75% 10%;
}

.i11 {
    font-size: 35px;
}

.i12 span {
    margin: 30px;
    font-size: 20px;
}

.i12 {
    padding-top: 15px;
    padding: auto;
    text-align: center;
}

.i13 {
    padding-left: 30px;
}

.i13 span {
    margin-left: 5px;
    font-size: 30px;
    border-radius: 100%;
    padding: 5px;
    background-color: white;
}

.resumen {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}

.indice2 {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 10px;


}

.i21 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 10px;
    font-size: 30px;
}

.i22 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 20px;
}

.i22 span {
    margin: 10px;
    padding: 8px;
    font-size: 17px;
    border-radius: 35%;
    background-color: white;
}

.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    padding: 20px;
    text-align: center;
    /* max-height: 400px; */
    /* background-color: white; */
}

.productos img {
    width: 100%;
    height: 300px;
    object-fit: fit-content;
    border-radius: 10px;
}

.nombre {
    font-size: 20px;
    /* background-color: white; */
}

.fondo {
    background-color: white;
    border-radius: 20px;
}

.pagina {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.pagina span {
    margin: 20px;
}

.pagina span.p1 {
    border-radius: 100%;
    background-color: green;
    color: white;
    padding: 15px;
}

.pagina span.p2 {
    border-radius: 30px;
    background-color: white;
    padding-left: 70px;
}

body.indice3 {
    width: 100%;
    background-color: #fff;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    /* background-color: #fff; */
}



.parent img {
    width: 100%;
    height: 70%;
    object-fit: inherit;
    border-radius: 10px;
}

.parent p {
    position: relative;
    z-index: 1;
    top: 40px;
    left: 10px;
    border: 1px solid #ef8a05;
    color: #fff;
    border-radius: 10px;
    background-color: #ef8a05;
    width: 15%;
    text-align: center;
}

.parent div {
    border-radius: 40px;
}

.div3 {
    grid-row: span 1 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    height: 90%;
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div5 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div7 {
    grid-column-start: 3;
    grid-row-start: 3;
}